Repository Devkeystuff/humboldt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, black

fix(husky): pre-commit not found
  yarn.lock
Due: none

chore(assets): added logo
  app/assets/images/humboldt.png
Due: none

chore(docs): updated models
  app/consts/index.ts
  docs/models/class.md
Due: eslint --fix

chore(structure): moved component
  app/components/PreviewModel/Tshirt.tsx
Due: eslint --fix

chore(hooks): not running `yarn` after merge anymore
  .husky/post-merge
Due: none

feat(global): simple jwt generation
  .env.dev
  .gitignore
  .vscode/settings.json
  Justfile
  api/Dockerfile
  api/api.py
  api/apps/auth_server.py
  api/apps/server.py
  api/controllers/controller_database.py
  api/controllers/controller_users.py
  api/models/db/db_user.py
  api/models/enums/enum_error.py
  api/models/enums/enum_error_message.py
  api/models/requests/request_login_user.py
  api/models/requests/request_register_user.py
  api/models/requests/response_login_user.py
  api/models/requests/response_register_user.py
  api/modules/auth_middleware.py
  api/modules/db_cursor.py
  api/requirements.txt
  app/contexts/User.context.tsx
  app/globals/Dispatcher.ts
  app/globals/http.ts
  app/hooks/useFetch.hook.tsx
  app/hooks/useUser.hook.tsx
  app/package.json
  app/types/RequestCreateDesign.type.ts
  app/types/RequestGetDesign.type.ts
  app/types/ResponseCreateDesign.type.ts
  app/types/ResponseGetDesign.type.ts
  app/types/ResponsePaymentIntent.type.ts
  app/types/User.type.ts
  app/types/index.ts
  app/types/types.ts
  app/yarn.lock
  docker-compose.yml
  docs/models/class.md
  drop_db.sh
  openapi-ts
  yarn.lock
Due: eslint --fix, black

feat(backend): simple user auth
  api/Dockerfile
  api/apps/auth_server.py
  api/apps/server.py
Due: black

feat(ops): nginx routing
  api/apps/auth_server.py
  api/apps/server.py
  api/controllers/controller_users.py
  api/modules/auth_middleware.py
  docker-compose.yml
  docs/models/class.md
  nginx/nginx.conf
Due: black

chore(backend): formatting files
  api/controllers/controller_requests.py
  api/utils/generate_utils.py
Due: black

feat(backend): fastapi approach of jwt
  .env.dev
  api/__init__.py
  api/apps/auth_server.py
  api/apps/server.py
  api/controllers/controller_users.py
  api/dependencies.py
  api/models/__init__.py
  api/models/common/token.py
  api/models/common/token_data.py
  api/models/db/db_user.py
  api/requirements.txt
  api/routers/router_auth.py
  nginx/nginx.conf
Due: black

fix(frontend): styled-components hidration fix
  app/components/Auth/Login.styled.ts
  app/components/CheckoutForm.tsx
  app/components/Navbar/Navbar.component.tsx
  app/components/styled/Global.ts
  app/consts/fonts.ts
  app/containers/Layout/Layout.component.tsx
  app/containers/Layout/Layout.styled.ts
  app/package.json
  app/pages/_app.tsx
  app/pages/_document.tsx
  app/pages/index.tsx
  app/public/images/logo/logo-favicon.ico
  app/public/images/static/BlueRadiant.png
  app/public/images/static/black_rectangle.png
  app/public/images/static/credit-card.png
  app/public/images/static/ellipse-center.png
  app/public/images/static/ellipse-green.png
  app/public/images/static/ellipse2.png
  app/public/images/static/frame.png
  app/public/images/static/humboldt-white.png
  app/public/images/static/marker-center.png
  app/public/images/static/mountains.png
  app/public/images/static/normalmap.png
  app/public/images/static/paint-brush.png
  app/public/images/static/senite.png
  app/public/images/static/shirts-corners.png
  app/public/images/static/white-mug.png
  app/public/images/static/white-shirt.png
  app/styles/globals.scss
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  black: any of: **/*.py
